<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include("./src/components/subfaces/head.ejs") %>
    <title>FreelanCE - Home</title>
  </head>
  <body>
    <%- include("./src/components/subfaces/header.ejs") %>
    <%- include("./src/components/subfaces/main.ejs") %>
    <%- include("./src/components/subfaces/footer.ejs") %>
    <script src="components/mobile-menu.js"></script>
  </body>
</html>