<header>
    <div class="header-container">
        <div class="header-content">
            <div class="logo">
                <a href="/">FreelanCE</a>
            </div>
            
            <nav class="header-nav" id="header-nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/developers">Developers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/designers">Designers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketing">Marketing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photographers">Photographers</a>
                    </li>
                </ul>

                <div class="header-actions">
                    <a href="/register" class="btn-register">Register</a>
                </div>
            </nav>

            <div class="mobile-menu">
                <i class="fa-solid fa-bars" id="menu-open"></i>
                <i class="fa-solid fa-xmark" id="menu-close"></i>
            </div>
        </div>
    </div>
</header>
